body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 20px; /* 114%; */
  margin: 0;
  padding: 0;

  display: grid;
}

.main-container__header {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin: 0;
}

.max-width {
  box-sizing: border-box;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  overflow: hidden;
}

.header {
  display: flex;
  overflow: hidden;
  height: 76px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
}

.header__content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  gap: 51px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 14px 32px;
}

.header__nav {
  max-width: 704px;
}
.header__nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header__nav ul li a {
  text-decoration: none;
  color: #333333;
  text-wrap: nowrap;
}

.header__nav ul li a:hover {
  text-decoration: underline;
}

.nav {
  padding-inline-start: 12px;
  display: flex;
  gap: 10px;
  padding: 16px 32px;
}

.nav a {
  font-size: 12px;
  font-weight: 400;
  color: rgb(51 51 51 / 70%);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.header__button {
  background-color: #e6f7f9;
  color: #03b2a5;
  border: none;
  padding: 16px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  /* letter-spacing: 0.8px; */
  justify-self: end;
}

.header__button:hover {
  background-color: #03b2a5;
  color: #e6f7f9;
}

.header__burger {
  display: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  background: none;
  justify-self: end;
  grid-column: -1;
}

.main-container {
  padding: 13px 33px;
}

.blog-header {
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 26px;
}

.filters-button {
  color: #333;
  background-color: #ffffffb3;
  border: 1px solid #c1c5cd;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
  margin: 4px 6px;
}

.filters-button:hover {
  outline: 2px solid #16c8bb;
}

.filters__button--active {
  border-color: #16c8bb;
  border-width: 2px;
}

.articles {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-block-start: 17px;

  display: grid;
  overflow: hidden;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 499px;
}

.articles-three {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-block-start: 25px;

  display: grid;
  overflow: hidden;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.articles-card {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: max-content;
  border-radius: 16px;
  overflow: hidden;
  min-width: 0;
  width: 100%;
}

.articles-card__image {
  box-sizing: border-box;
  grid-area: 1 / 1 / 2 / -1;
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center;
  min-width: 100%;
}

.articles-card__tags {
  box-sizing: border-box;
  width: min-content;
  margin: 3px;
  grid-area: 1 / 1 / 2 / -1;
}

.articles-card__details {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  box-sizing: border-box;
  grid-area: 2 / 1 / 3 / -1;
  padding: 0 12px;
  border: 1px solid #dedede;
  border-radius: 0 0 16px 16px;
}

.articles-card__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 5px;
}

.articles-card__author {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #494949;
  margin: 0;
}

.articles-card__summary {
  color: #333;
  margin: 7px 0;
}

.articles-card__date {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #999;
  margin: 13px 0;
}

.pagination {
  text-align: center;
  margin-top: 56px;
}

.pagination .pagination__button {
  width: 182px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  background-color: #00a896;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination__button:hover {
  background-color: #017a6d;
}

.footer {
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 83px;
  background-color: #004d99;
  color: white;
  text-align: center;
  width: 100%;
  padding: 40px 33px 0;
}

.footer__content {
  overflow: hidden;
  margin: 0 auto;
}

.footer .footer__sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 93px;
}

.footer .footer__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .footer__section a {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
}

.footer .footer__section a:hover {
  text-decoration: underline;
}

.footer .footer__section h3 {
  max-width: 356px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  text-align: left;
}

.footer .footer__section form {
  display: flex;
  align-items: center;
  gap: 0;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  width: 384px;
}

.footer .footer__section input[type="email"] {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 4px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #9d9d9d;
  background: transparent;
  min-width: 0;
  height: 100%;
  border-radius: 0;
  flex: 320px 0 0;
}

.footer .footer__section button {
  background-color: #16c8bb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  transition: background 0.2s;
}

.footer__section button:hover {
  background-color: #12978d;
}

.footer .footer__section button img {
  width: 24px;
  height: 24px;
}

.footer .footer__section.footer__feedback {
  gap: 8px;
  flex: 384px;
}

.footer .footer__section.footer__feedback p {
  max-width: 486px;
}

.footer .footer__section.footer__icons {
  gap: 40px;
}

.footer .footer__section p {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-align: left;
  margin: 0.25px;
}

.footer .footer__social-icons {
  display: flex;
  gap: 19px;
}

.footer .footer__social-icons img {
  width: 30px;
  height: 30px;
}

.footer hr {
  border: 1px solid #9d9d9d;
  margin: 0;
}

.footer .footer__contacts {
  font-weight: 400;
  /* letter-spacing: 0.4px; */
  color: white;
  display: flex;
  gap: 54px;
  align-items: center;
  padding: 4px 0;
  white-space: nowrap;
}

.footer .footer__contacts p a {
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  /* letter-spacing: 1px; */
}

.footer .footer__contacts p a:hover {
  text-decoration: underline;
}

@media (min-width: 1264px) {
  .header {
    padding-inline: 0;
  }
  .nav {
    padding-left: 5px;
    padding-right: 0;
  }

  .header__content,
  .main-container,
  .footer {
    padding-inline: 0;
  }
}

@media (width <= 1024px) {
  /* 1024px */
  .header__content {
    gap: 32px;
  }

  .main-container {
    padding-block: 22px;
  }

  .articles-three .articles-card__image {
    height: 206px;
  }

  .articles-three .articles-card__date {
    margin: 0 0 16px 0;
  }

  .pagination {
    margin-top: 37px;
  }

  .footer {
    margin-top: 38px;
    padding: 40px 25px 0 38px;
  }
  .footer .footer__sections {
    gap: 25px;
  }
}

@media (width <= 970px) {
  /* 768px */
  .header__nav {
    display: none;
  }

  .header__content {
    padding-inline: 19px;
  }

  .header__button {
    display: none;
  }

  .header__burger {
    display: inline-block;
  }
}

@media (width <= 768px) {
  .nav {
    padding-inline: 22px;
  }

  .main-container {
    padding-inline: 21px;
  }

  .articles {
    grid-template-columns: 1fr;
    grid-template-rows: 599px;
  }

  .articles .articles-card__summary {
    margin: 10px 0 30px 0;
  }

  .articles-card__image {
    height: 404px;
  }

  .articles-three .articles-card__date {
    margin: 8px 0 16px 0;
  }

  .pagination {
    margin-top: 45px;
  }

  .footer {
    margin-top: 33px;
    padding: 36px 25px 14px 20px;
  }

  .footer .footer__sections {
    gap: 26px 31px;
  }
}
@media (width <= 431px) {
  .footer .footer__section form {
    width: 100%;
  }
  .footer .footer__section input[type="email"] {
    flex: 1 1 auto;
  }
}

@media (width <= 414px) {
  .header {
    height: 72px;
  }

  .header__logo {
    width: 48px;
    height: 34px;
    margin-inline-start: 4px;
  }

  .main-container__header {
    font-size: 32px;
    line-height: 40px;
  }

  .main-container {
    padding: 13px 19px;
  }

  .filters {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-block-start: 22px;
  }

  .articles {
    margin-block-start: 8px;
    grid-template-rows: 466px;
    gap: 16px;
  }

  .articles-card__image {
    height: 206px;
  }

  .articles-three {
    margin-block-start: 18px;
    gap: 15px;
  }

  .articles-three .articles-card__summary {
    margin: 7px 0 55px 0;
  }

  .pagination {
    margin-top: 12px;
  }

  .footer {
    margin-top: 46px;
    padding-bottom: 30px;
  }

  .footer .footer__contacts {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }

  .footer .footer__contacts p {
    margin: 8px 0;
  }

  .footer .footer__section.footer__icons {
    gap: 30px;
  }
}

@media (width <= 320px) {
  .header {
    height: 56px;
  }
  .header__content {
    padding: 11px 15px;
  }

  .header__logo {
    margin-inline-start: 0;
    margin-block-start: 0;
  }

  .nav {
    padding: 25px 16px;
  }

  .main-container__header {
    font-size: 24px;
    line-height: 24px;
  }

  .main-container {
    padding: 1px 15px;
  }
  .articles {
    margin-block-start: 22px;
    grid-template-rows: 484px;
    gap: 14px;
  }

  .articles .articles-card__title {
    margin-top: 10px;
  }

  .articles .articles-card__summary {
    margin: 10px 0 0 0;
  }

  .articles .articles-card__date {
    margin: 5px 0 20px 0;
  }

  .articles-card__image {
    height: 206px;
  }

  .articles-three .articles-card__summary {
    margin: 7px 0 23px 0;
  }

  .pagination {
    margin-top: 30px;
  }

  .footer {
    margin-top: 57px;
    padding-inline: 14px;
  }

  .footer .footer__sections {
    gap: 17px;
  }

  .footer .footer__section.footer__icons {
    gap: 20px;
  }
}
